@using System.Security.Claims
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NWMSU - Northwest Missouri state university</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/favicon.svg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="container-xxl position-relative bg-white d-flex p-0">

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand mx-4 mb-3">
                    <img src="~/favicon.svg" style="width:50px;height:35px;"> <h3 class="text-primary" style="padding-top: 3%;color: #006747 !important;float: right;">  NWMSU</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="~/img/user.webp" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0" style="text-transform:capitalize">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</h6>
                        <span> @HttpContextAccessor.HttpContext.Session.GetString("UserType")</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a asp-action="Index" asp-controller="Home" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    @if (User.IsInRole("Faculty"))
                    {
                        <a asp-action="FacultyRegistration" asp-controller="AMS" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Course</a>
                    }
                    @if (User.IsInRole("Student"))
                    {
                        <a asp-action="StudentRegistration" asp-controller="AMS" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Register Course</a>
                        <a asp-action="ViewMyAttendance" asp-controller="AMS" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>My Attendance</a>                    
                    }
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <div class="content">

            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    @if (User.IsInRole("Student"))
                    {
                        <div class="navbar-nav align-items-center ms-auto">
                            <h6 style="padding-top: 20%;">PIN-@HttpContextAccessor.HttpContext.Session.GetInt32("UserPIN")</h6>
                        </div>
                    }
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="~/img/user.webp" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex" style="text-transform:capitalize">@HttpContextAccessor.HttpContext.Session.GetString("UserName")</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a asp-action="MyProfile" asp-controller="AMS" class="dropdown-item">My Profile</a>
                            <a asp-action="LogOut" asp-controller="Home" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <div style="min-height: inherit;">
                @RenderBody()
            </div>

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">NWMSU</a>, All Right Reserved.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>

    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/chart/chart.min.js"></script>
    <script src="~/js/ams.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>
@RenderSection("scripts", required: false)
</html>
