@using AMS.ViewModels.Student
@{
    ViewBag.Title = "Faculty Course Registration List Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ViewDetails

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="bg-light col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Details</h6>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <b>Course Name :</b> <i>@Model.Course_Section_Faculty.Course.Name</i>
                        </div>
                        <div class="col-sm">
                            <b>Section :</b><i> @Model.Course_Section_Faculty.Section.Name</i>
                        </div>
                        <div class="col-sm">
                            <td><a asp-action="CreateQRCode" asp-controller="AMS" asp-route-data="@Model.Course_Section_Faculty.Id" class="link-primary" target="_blank">QR Code</a></td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="bg-light col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Studnet Attendance List</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Is Attend</th>
                            <th scope="col">Is Approved</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.AttendanceList.Count <= 0)
                        {
                            <tr><td colspan=4 style="text-align: center;"><h6>No Records</h6></td></tr>
                        }
                        @foreach (var listItem in Model.AttendanceList)
                        {
                            <tr>
                                <td>@listItem.Student_Course_Registration.Student.Name</td>
                                <td>@listItem.Student_Course_Registration.Student.Email</td>
                                @if (@listItem.IsAttended)
                                {
                                    <td><h6>Attended</h6></td>
                                }
                                else
                                {
                                    <td>Not Attended</td>
                                }
                                @if (@listItem.IsApproved)
                                {
                                    <td><h6>Approved</h6></td>
                                }
                                else
                                {
                                    <td>Rejected</td>
                                }

                                @if (@listItem.IsApproved)
                                {
                                    <td><a asp-action="UpdateAttendance" asp-controller="AMS" asp-route-email="@listItem.Student_Course_Registration.Student.Email" asp-route-data="@listItem.Id" asp-route-isApproved=false asp-route-cId="@listItem.Student_Course_Registration.Course_Section_Faculty.Id" class="link-primary">Reject</a></td>
                                }
                                else
                                {
                                    <td><a asp-action="UpdateAttendance" asp-controller="AMS" asp-route-email="@listItem.Student_Course_Registration.Student.Email" asp-route-data="@listItem.Id" asp-route-isApproved=true asp-route-cId="@listItem.Student_Course_Registration.Course_Section_Faculty.Id" class="link-primary">Approve</a></td>
                                }

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
